# ROS2 build artifacts
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/
*.code-workspace

# System / editor files
*.swp
*.swo
*.bak
*~
*.db
*.vc.db

# Logs
*.log

# Other
.DS_Store
Thumbs.db

